{
   "builders":[
      {
         "CPUs":"{{ windows.vm_cpu }}",
         "RAM":"{{ windows.vm_mem }}",
         "RAM_reserve_all":true,
         "cluster":"{{ vcenter.cluster }}",
         "communicator":"ssh",
         "convert_to_template":"true",
         "datacenter":"{{ vcenter.datacenter }}",
         "datastore":"{{ vcenter.datastore }}",
         "disk_controller_type":"lsilogic-sas",
         "firmware":"bios",
         "floppy_files":[
            "scripts/autounattend.xml",
            "scripts/install-vm-tools.cmd",
            "scripts/powershell.ps1",
            "scripts/authorized_keys",
            "scripts/win-updates.ps1",
            "scripts/install-docker.ps1"
         ],
         "folder":"{{ vcenter.folder }}",
         "guest_os_type":"windows9Server64Guest",
         "insecure_connection":"true",
         "iso_paths":[
            "{{ vcenter.win_iso_path }}",
            "{{ vcenter.vmwaretools_iso_path }}"
         ],
         "network_adapters":[
            {
               "network":"{{ vcenter.network }}",
               "network_card":"{{ vcenter.network_card }}"
            }
         ],
         "password":"{{ vcenter.admin_password }}",
         "storage":[
            {
               "disk_size":"{{ windows.vm_disk }}",
               "disk_thin_provisioned":true
            }
         ],
         "type":"vsphere-iso",
         "username":"{{ vcenter.admin_username }}",
         "vcenter_server":"{{ vcenter.server }}",
         "vm_name":"{{ windows.vm_name }}",
         "ssh_password":"{{ windows.admin_passwd }}",
         "ssh_username":"Administrator",
         "ssh_timeout":"50m"
      }
   ],
   "provisioners":[
      {
      	"pause_before": "120s",
      	"inline":["ipconfig"],
              "type":"powershell",
      	"elevated_user": "Administrator",
              "elevated_password": "{{ windows.admin_passwd }}",
      	"max_retries":"10"
      }
   ],
   "sensitive-variables":[
      "vsphere_password",
      "winadmin_password"
   ]
}
